
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'dish_DishIngridients_list' %}">
    DishIngridients Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="ingredients_amount">ingredients_amount: </label>
  <input class="form-control col-sm-10" id="ingredients_amount" type="text" name="ingredients_amount" value="{{ object.ingredients_amount }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}