
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'dish_list' %}">
    Dish Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.errors }}
    {{ form.as_p }}
    {{ dish_ingredients_formset.management_form }}
    {% for form in dish_ingredients_formset %}
        <hr align="center" size="2"/>
        {{ form.as_p }}
    {% endfor %}
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}