
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<div>
    <a class="btn btn-light" href="{% url 'order_list' %}">
        <h1>Order Listing</h1>
    </a>
    <hr align="center" size="2"/>
</div>

<div>
    <h3 class="title">{{ object.dish.name }}</h3>
    <div class="date">
        Last updated: {{ object.last_updated }}
    </div>
    <br>
    {% for element in object.order_ingredients.all %}
    <ul>
        <li> {{element.ingredient.name}}: {{element.ingredients_amount}}</li>
     </ul>
    {% endfor %}
</div>

{% endblock %}